*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffffff;
    color: #131313;
}

#header{
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    background-color: #151515;
    top: 0px;
    width: 100%;
    z-index: 3;
}

#header #logo{
    width: 300px;
    float: left;
    margin-left: 20px;
}

#header #logo h1{
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    color: #222;
}

#header #logo h1 a{
    color: #d8d8d8;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
}

#header #logo h1 a:hover{
    color: white;
}

#header ul{
    float: right;
    padding-right: 10px;
}

#header ul li{
    display: inline;
}

#header ul li a{
    color: #d8d8d8;
    display: inline-block;
    padding: 0px 10px 0px 10px;
    font-size: 15px;
    line-height: 40px;
}

#header ul li a:hover{
    color: white;
}

a{
    text-decoration: none;
    cursor: pointer;
}

ol, ul{
    list-style: none;
}

.clear{
    clear: both;
}

#jumbotron{
    background-color: #282828;
    padding: 50px 0px;
    text-align: center;
}

#jumbotron h1{
    color: #fefefe;
    padding: 10px 0px;
    font-size: 35px;
    font-weight: bold;
}

#jumbotron h1 a{
    color: #efefef;
    text-decoration: none;
    cursor: pointer;
}

#jumbotron h1 a:hover{
    color: white;
}

#jumbotron h2{
    color: #fefefe;
    font-size: 20px;
    font-weight: normal;
    padding: 0px 0px 30px 0px;
}

#jumbotron #categories ul{
    list-style: none;
}

#jumbotron #categories ul li{
    display: inline-block;
}

#jumbotron #categories ul li a{
    padding: 0px 10px;
    height: 50px;
    line-height: 50px;
    color: #d8d8d8;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

#jumbotron #categories ul li a:hover{
    color: white;
}